/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-mar-2017, 15:43:06
    Author     : ale
*/

table {
    width: 100%;
   

}

th {
    height: 50px;
    vertical-align: bottom;
    background-color: #4CAF50;
    color: white;

}

th, td {
   padding: 15px;
   text-align: center;
   border-bottom: 1px solid #ddd;

}

tr:hover {
    background-color: #f5f5f5
}